.Carousel {
    margin: 20px;
}

.Carousel > button {
    opacity: 0;
    height: 100%;
    width: 5vw;
    z-index: 1;
}

.Carousel > button:hover {
    opacity: 1;
    transition: opacity 0.2s ease 0s;
}

.Carousel > ul > li > button::before {
    font-size: 10px;
    color: rgb(150, 158, 171);
}